body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo__img {
  display: block;
  width: 40px;
  height: 40px;
}

.nav {
  text-align: center;
  text-transform: uppercase;
}

.nav__link {
  height: 60px;
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link.is-active {
  color: var(--blue);
  position: relative;
}

.nav__link.is-active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  left: 0;
  bottom: 0;
}
